body {
    font-family: Arial, sans-serif;
    background-color: #3f3333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(93, 71, 71);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.control-panel {
    margin-bottom: 20px; /* Space between the control panel and button grid */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-panel label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(236, 223, 223);
}

.control-panel select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.control-panel select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px; /* Adjust the gap between buttons as needed */
    justify-content: center; /* Center the buttons horizontally */
}

/* button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
} */
